@import './reset.scss';

body {
    width: 100vw;
    max-width: 100vw;
}

.home {
    width: 100vw;
    background: #7d8587;

    .container {
        height: 750px;
        width: 70vw;
        margin: auto;
        color: white;
        font-family: Arial, Helvetica, sans-serif;

        .nav {
            display: flex;
            justify-content: center;
            width: 100%;
            font-size: 14px;

            .logo {
                padding: 32px;
            }

            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    padding: 0 16px;
                }
            }

            .cart-button {
                position: relative;
            }

            .cart-button::after {
                content: '3';
                width: 16px;
                border-radius: 50%;
                background: #fe4c8d;
                position: absolute;
                bottom: 8px;
                left: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .book-button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fea100;
                margin: 16px;
                border: 1px solid white;
                border-radius: 2px;
                margin-left: 32px;

                outline: #fea100 solid;
                padding: 12px 16px;

                img {
                    margin-right: 8px;
                }
            }
        }

        .content {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .upper {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .arrow {
                    border: solid white;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    padding: 32px;

                    &-left {
                        transform: rotate(135deg);
                    }

                    &-right {
                        transform: rotate(-45deg);
                    }
                }

                .text {
                    text-align: center;

                    .title {
                        font-size: 62px;
                    }

                    .subtitle {
                        font-size: 32px;
                    }
                }
            }

            .book-text {
                margin-top: 128px;
                font-size: 14px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #fea100;

                img {
                    margin-bottom: 16px;
                }

                .number {
                    font-size: 36px;
                    color: white;
                    margin-top: 8px;
                }
            }
        }
    }
}
