@import './reset.scss';
@import './variables.scss';
@import './components/nav.scss';
@import './sections/home.scss';
@import './sections/menu.scss';
@import './sections/reservation.scss';
@import './sections/reviews.scss';
@import './sections/gallery.scss';
@import './sections/footer.scss';

body {
    width: 100vw;
    max-width: 100vw;
}

.container {
    width: 70vw;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;

    @media screen and (max-width: 1400px) {
        width: 80vw;
    }

    @media screen and (max-width: 1024px) {
        width: 95vw;
    }
}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}