.footer {
    .content {
        flex-direction: row;
        justify-content: space-between;
    }

    .title {
        font-size: 35px;
    }

    .opening {
        display: flex;
        gap: 64px;
    }

    .text {
        font-size: 20px;
    
        .time {
            font-size: 30px;
            color: $orange;
        }
    }

    .image {
        min-width: 210px;
        min-height: 210px;
        background: $dark-gray;
        transform: translateY(64px);
    }

    footer {
        background: $dark-purple;
        color: white;

        .content {
            align-items: flex-start;
            padding: 64px 0;
        }

        .title {
            padding: 32px 0;
            font-size: 24px;
        }
    }

    .navigation {
        ul {
            li {
                padding: 8px 0;
                color: $light-gray;
                font-size: 14px;
            }
        }
    }

    .newsletter {
        width: 30%;

        .text {
            padding: 8px 0;
            font-size: 14px;
            color: $light-gray;
        }

        form {
            margin-top: 8px;
            display: flex;
        }

        .subscribe-button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $orange;
            border-radius: 4px;
            width: fit-content;
            margin: 0;
            color: white;

            padding: 16px;
        }

        input {
            border: solid 2px $light-gray;
            border-radius: 4px;
            background: $dark-purple;
            width: 100%;
            margin-right: 8px;
            color: white;
        }
    }

    .app-links {
        .app {
            background: $dark-gray;
            margin-bottom: 16px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 16px 24px;
            margin-right: 48px;

            img {
                margin-right: 16px;
            }

            .text {
                font-size: 11px;

                .name {
                    font-size: 18px;
                }
            }
        }
    }
}