.reservation {
    background: $dark-gray;

    display: flex;
    padding: 0 256px;

    @media screen and (max-width: 1400px) {
        padding: 0;
    }

    .content {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        width: 55%;
        margin: auto;
        padding-top: 72px;
        margin-bottom: 80px;

        .title {
            font-size: 45px;
            text-align: center;
            padding: 24px;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            width: 100%;

            input {
                padding: 16px;
                margin: 6px 16px;
                border: none;
                border-radius: 4px;
            }
        }

        .lower {
            display: flex;
            align-items: center;
            width: 100%;

            .reservation-button {
                margin: 32px 16px;
            }

            .reservation-text {
                padding: 16px;

                &-pink {
                    color: $pink;
                    padding: 0;
                }
            }

            .reservation-number {
                padding: 16px;
                font-size: 24px;
            }
        }
    }

    .image {
        background: $light-gray;
    
        @media screen and (max-width: 1400px) {
            display: none;
        }

        &-left {
            min-width: 293px;
            height: 293px;
            transform: translateY(-48px);
        }

        &-right {
            min-width: 234px;
            height: 241px;

            align-self: flex-end;
            transform: translateY(32px);
        }
    }
}
