.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 14px;

    .logo {
        padding: 32px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            padding: 0 16px;
        }
    }

    .cart-button {
        position: relative;
    }

    .cart-button::after {
        content: '3';
        width: 16px;
        border-radius: 50%;
        background: #fe4c8d;
        position: absolute;
        bottom: 8px;
        left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .book-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fea100;
        margin: 16px;
        border: 1px solid white;
        border-radius: 2px;
        margin-left: 32px;

        outline: #fea100 solid;
        padding: 12px 16px;

        img {
            margin-right: 8px;
        }
    }
}
